
<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">

    <title>Vue.js tree view example</title>

    <style>



    </style>
    <link rel="stylesheet" href="../css/tree.css" type="text/css" />
    <!-- Delete ".min" for console warnings in development -->

    <script src="../../common/js/vue.js"></script>
    <script src="../../common/js/common.js"></script>
  </head>

  <body>



    <!-- item template -->

    <!-- <script type="text/x-template" id="item-template">

      <li>

        <div

          :class="{bold: isFolder}"

          @click="toggle"

          @dblclick="changeType">         

          <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
          {{model.name}}
		      <span v-if="isSelected">selected</span>
          <span>111111111111111111111111</span>
          <span>22222222222222222222222</span>
          <span>333333333333333333333</span>
          <span>44444444444444444444444</span>
          <span>555555555555555555555</span>
          <span>6666666666666666666</span>
        </div>
       /** <div><span>111111111111111111111111</span></div>
        <div><span>22222222222222222222222</span></div> **/
        <ul v-show="open" v-if="isFolder">

          <item

            class="item"

            v-for="model in model.children"

            :model="model">

          </item>

          <li class="add" @click="addChild">+</li>

        </ul>

      </li>

    </script> -->



    <p>(You can double click on an item to turn it into a folder.)</p>



    <!-- the demo root element -->

    <ul id="app">

      <tree

        class="item"

        :model="treeData">

      </tree>

    </ul>



    <!-- demo code -->

    <script src="../js/tree.js"></script>
    <script src="../js/index.js"></script>
  </body>

</html>